In [2]:
import pandas as pd
import glob
import json

# Set pandas to show all columns
pd.set_option('display.max_columns', None)

In [3]:
print("--- Inspecting RAW Parquet File (LONG Format) ---")

# Find the first raw file
raw_file = glob.glob("data/raw/*/*.parquet")[0]
print(f"Reading: {raw_file}\n")

df_raw = pd.read_parquet(raw_file)
df_raw.head()

--- Inspecting RAW Parquet File (LONG Format) ---
Reading: data/raw/amsterdam/20241016.parquet

                  timestamp   location     sensor_name  value
0 2024-10-16 00:00:00+00:00  amsterdam  temperature_2m   10.8
1 2024-10-16 01:00:00+00:00  amsterdam  temperature_2m   10.7
2 2024-10-16 02:00:00+00:00  amsterdam  temperature_2m   10.6
3 2024-10-16 03:00:00+00:00  amsterdam  temperature_2m   11.3
4 2024-10-16 04:00:00+00:00  amsterdam  temperature_2m   11.1

In [5]:
print("--- Validating Merged Output Parquet File (WIDE Format) ---")

# Load the structured file for amsterdam
df_structured = pd.read_parquet("data/structured/amsterdam/202410.parquet")
print("--- Amsterdam File ---")
print("--- First 5 Rows (Historical Data) ---")
display(df_structured.head())

print("\n--- Last 5 Rows (Newly Added Data) ---")
display(df_structured.tail())

print("\n--- Schema and Info ---")
df_structured.info()

df_structured = pd.read_parquet("data/structured/london/202410.parquet")
print("--- London File ---")
print("--- First 5 Rows (Historical Data) ---")
display(df_structured.head())

print("\n--- Last 5 Rows (Newly Added Data) ---")
display(df_structured.tail())

print("\n--- Schema and Info ---")
df_structured.info()

--- Validating Merged Output Parquet File (WIDE Format) ---
--- Amsterdam File ---
--- First 5 Rows (Historical Data) ---

,timestamp,temperature_2m,relative_humidity_2m,wind_speed_10m,surface_pressure,cloud_cover,dew_point,location
0,2024-10-01 00:00:00+00:00,13.0,89.0,24.1,1001.4,99.0,11.2,amsterdam
1,2024-10-01 01:00:00+00:00,13.3,89.0,23.8,1001.4,82.0,11.5,amsterdam
2,2024-10-01 02:00:00+00:00,12.9,90.0,23.5,1001.4,100.0,11.3,amsterdam
3,2024-10-01 03:00:00+00:00,12.6,92.0,23.0,1001.2,100.0,11.3,amsterdam
4,2024-10-01 04:00:00+00:00,12.2,92.0,21.7,1000.9,100.0,10.9,amsterdam

--- Last 5 Rows (Newly Added Data) ---

,timestamp,temperature_2m,relative_humidity_2m,wind_speed_10m,surface_pressure,cloud_cover,dew_point,location
427,2024-10-18 19:00:00+00:00,14.1,99.0,1.7,1012.2,100.0,NaN,amsterdam
428,2024-10-18 20:00:00+00:00,13.7,100.0,1.4,1011.8,100.0,NaN,amsterdam
429,2024-10-18 21:00:00+00:00,13.5,99.0,2.3,1011.7,100.0,NaN,amsterdam
430,2024-10-18 22:00:00+00:00,13.2,100.0,6.4,1012.0,100.0,NaN,amsterdam
431,2024-10-18 23:00:00+00:00,13.2,99.0,6.2,1011.6,100.0,NaN,amsterdam

--- Schema and Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   timestamp             432 non-null    datetime64[ns, UTC]
 1   temperature_2m        432 non-null    float64
 2   relative_humidity_2m  432 non-null    float64
 3   wind_speed_10m        432 non-null    float64
 4   surface_pressure      432 non-null    float64
 5   cloud_cover           432 non-null    float64
 6   dew_point             360 non-null    float64
 7   location              432 non-null    object
dtypes: datetime64[ns, UTC](1), float64(6), object(1)
memory usage: 27.1+ KB
--- London File ---
--- First 5 Rows (Historical Data) ---

,timestamp,temperature_2m,relative_humidity_2m,wind_speed_10m,surface_pressure,cloud_cover,dew_point,location
0,2024-10-01 00:00:00+00:00,11.9,75.0,26.3,1003.5,87.0,7.6,london
1,2024-10-01 01:00:00+00:00,11.7,80.0,25.4,1004.2,100.0,8.4,london
2,2024-10-01 02:00:00+00:00,11.6,82.0,23.4,1004.4,100.0,8.6,london
3,2024-10-01 03:00:00+00:00,11.7,82.0,21.2,1004.4,100.0,8.8,london
4,2024-10-01 04:00:00+00:00,11.5,83.0,18.9,1004.5,69.0,8.8,london

--- Last 5 Rows (Newly Added Data) ---

,timestamp,temperature_2m,relative_humidity_2m,wind_speed_10m,surface_pressure,cloud_cover,dew_point,location
427,2024-10-18 19:00:00+00:00,11.5,89.0,13.4,1008.9,98.0,NaN,london
428,2024-10-18 20:00:00+00:00,11.7,86.0,13.4,1008.6,95.0,NaN,london
429,2024-10-18 21:00:00+00:00,12.4,85.0,14.9,1008.2,100.0,NaN,london
430,2024-10-18 22:00:00+00:00,13.2,86.0,16.5,1007.7,100.0,NaN,london
431,2024-10-18 23:00:00+00:00,13.4,88.0,16.7,1007.0,100.0,NaN,london

--- Schema and Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   timestamp             432 non-null    datetime64[ns, UTC]
 1   temperature_2m        432 non-null    float64
 2   relative_humidity_2m  432 non-null    float64
 3   wind_speed_10m        432 non-null    float64
 4   surface_pressure      432 non-null    float64
 5   cloud_cover           432 non-null    float64
 6   dew_point             360 non-null    float64
 7   location              432 non-null    object
dtypes: datetime64[ns, UTC](1), float64(6), object(1)
memory usage: 27.1+ KB

In [ ]:


def validate_parquet_file(file_path: str):
    print("--- Running Validation Tests ---") 
    # --- Setup ---
    # Load the workload config to get the new date range (Oct 16-18)
    try:
        with open('workload.json', 'r') as f:
            workload = json.load(f)
            
        # Get the new data date range from workload.json
        BEGIN_DATE_NEW = pd.to_datetime(workload['date_config']['begin_date'], utc=True)
        END_DATE_NEW = pd.to_datetime(workload['date_config']['end_date'], utc=True)
        
        # We'll test the amsterdam file
        # file_path = "data/structured/amsterdam/202410.parquet"
        print(f"Testing file: {file_path}\n")

        df = pd.read_parquet(file_path)

        # --- Test 1: Contains both historical (Oct 1-15) and new data (Oct 16-18) ---
        print("Test 1: Checking for historical and new data...")
        min_ts = df['timestamp'].min()
        max_ts = df['timestamp'].max()
        
        # Check that data exists *before* the new data begin_date
        assert min_ts < BEGIN_DATE_NEW, f"FAIL: Historical data is missing. Min timestamp is {min_ts}"
        # Check that data exists *at or after* the new data end_date
        assert max_ts.date() >= END_DATE_NEW.date(), f"FAIL: New data is missing. Max timestamp is {max_ts}"
        print(f"  PASS: Data ranges from {min_ts} (historical) to {max_ts} (new).")
        
        # --- Test 2: No duplicate (timestamp, location) pairs ---
        print("\nTest 2: Checking for duplicates...")
        total_rows = len(df)
        unique_rows = len(df.drop_duplicates(subset=['timestamp', 'location']))
        
        assert total_rows == unique_rows, f"FAIL: Duplicates found! Total={total_rows}, Unique={unique_rows}"
        print(f"  PASS: No duplicates found ({total_rows} unique rows).")

        # --- Test 3: Timestamps in millisecond precision UTC timezone ---
        print("\nTest 3: Checking for UTC timestamps...") 
        
        assert 'utc' in str(df['timestamp'].dtype).lower(), f"FAIL: Timestamp is not UTC. Dtype is {df['timestamp'].dtype}"
        print(f"  PASS: Timestamps are UTC ({df['timestamp'].dtype}).")
        
        # --- Test 4: All columns from both historical and new data present ---
        print("\nTest 4: Checking for merged schema...")
        columns = df.columns
        # 'dew_point' is from the historical file
        assert 'dew_point' in columns, "FAIL: 'dew_point' column from historical data is missing."
        # 'temperature_2m' is from the new data (via workload.json)
        assert 'temperature_2m' in columns, "FAIL: 'temperature_2m' column from new data is missing."
        print(f"  PASS: Schema is merged. Found 'dew_point' and 'temperature_2m'.")
        
        print("\n--- All Validation Checks Passed! ---")
        
    except FileNotFoundError:
        print(f"ERROR: Test file not found at {file_path}. Did the 'transform' stage run?")
    except AssertionError as e:
        print(f"\n--- TEST FAILED ---")
        print(f"  {e}")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

In [8]:
validate_parquet_file('data/structured/amsterdam/202410.parquet')
validate_parquet_file('data/structured/london/202410.parquet')

--- Running Validation Tests ---
Testing file: data/structured/amsterdam/202410.parquet

Test 1: Checking for historical and new data...
  PASS: Data ranges from 2024-10-01 00:00:00+00:00 (historical) to 2024-10-18 23:00:00+00:00 (new).

Test 2: Checking for duplicates...
  PASS: No duplicates found (432 unique rows).

Test 3: Checking for UTC timestamps...
  PASS: Timestamps are UTC (datetime64[ns, UTC]).

Test 4: Checking for merged schema...
  PASS: Schema is merged. Found 'dew_point' and 'temperature_2m'.

--- ✅ All Validation Checks Passed! ---
--- Running Validation Tests ---
Testing file: data/structured/london/202410.parquet

Test 1: Checking for historical and new data...
  PASS: Data ranges from 2024-10-01 00:00:00+00:00 (historical) to 2024-10-18 23:00:00+00:00 (new).

Test 2: Checking for duplicates...
  PASS: No duplicates found (432 unique rows).

Test 3: Checking for UTC timestamps...
  PASS: Timestamps are UTC (datetime64[ns, UTC]).

Test 4: Checking for merged schema...
  PASS: Schema is merged. Found 'dew_point' and 'temperature_2m'.

--- ✅ All Validation Checks Passed! ---